pydantic
pydantic-settings
python-dotenv
diffusers
torch
transformers
accelerate
fastapi
uvicorn
httpx
sentencepiece
protobuf
Pillow
tqdm
imageio
imageio-ffmpeg
boto3
torchaudio
torchcodec
conformer
gradio
librosa==0.11.0
omegaconf
pykakasi==2.3.0
pyloudnorm
resemble-perth
s3tokenizer
spacy-pkuseg
